.bpm{
   
    height: 200px;
    width: 98%;
}
.valorbpm{
    background-image: url(src\assets\heartbg.png);
    background-position: center; 
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 98%;
    height: 100px;
}
.valor{
    text-align: center;
}

span{
    font-size: 500%;
    white-space: nowrap;
}

.center{
    text-align: center;
}

  section {
    margin: 0;
    padding: 0;
  }
  section:not(.full-width),
  .full-width > header {
    padding: 0;
  }