<ion-header>
  <ion-toolbar>
    <div style="text-align: center;">
      <ion-title>Cadastro</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h2>Assinale em caso de histórico na família:</h2>

    <ion-list>
        <ion-item lines="none">Angina, enfarto</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none">Morte súbita</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none">Asma, Bronquite</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none">Câncer</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none">Pressão alta</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none">Derrame</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none">Diabetes</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none">Colesterol</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none">Cirrose</ion-item>
        <ion-item >
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Irmãos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Pais</ion-label>
          </ion-item> 
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Avós</ion-label>
          </ion-item>
        </ion-item>

    </ion-list>

    <div class="center" ><ion-button href="/cadastro-prediagnostico">Próximo</ion-button></div>
  </ion-card>
</ion-content>
