<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card ion-padding-top">
        <ion-input class="" placeholder="Nome de usuário" ></ion-input>
        <ion-input class="" type="password" placeholder="Senha" max="6"></ion-input>
        <ion-button class="bot-1">Entrar</ion-button>
        <ion-button class="bot-1">Entrar com mídia social</ion-button>
     
      <p>Não é cadastrado ? Cadastre-se já!</p>
      <ion-button class="bot-1">Cadastrar</ion-button>
      <ion-button size="small">Esqueci minha senha</ion-button>

    </ion-card>
</ion-content>
