<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card ion-padding-top">
        <div class="center"><ion-input placeholder="Nome de usuário" ></ion-input></div>
        <div class="center"><ion-input type="password" placeholder="Senha" max="6"></ion-input></div>
        <div class="center"><ion-button href="/principal">Entrar</ion-button></div>
        <div class="center"><ion-button href="/principal">Entrar com mídia social</ion-button></div>
     
      <div class="center esqueci"><p>Não é cadastrado ? <a href="/cadastro">Cadastre-se já!</a></p></div>
      <div class="center esqueci"><ion-button size="small">Esqueci minha senha</ion-button></div>
    </ion-card>
</ion-content>
