<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-input placeholder="Nome de usuário" ></ion-input>
      <ion-input type="password" placeholder="Senha" max="6"></ion-input>
      <ion-button>Entrar</ion-button><br>
      <ion-button>Entrar com mídia social</ion-button><br>

      <ion-label>Não é cadastrado ? Cadastre-se já!</ion-label><br>
      <ion-button>Cadastrar</ion-button><br>
      <ion-button size="small">Esqueci minha senha</ion-button><br>

    </ion-card>
</ion-content>
