.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card{
  margin-top: -200px;
  top: 50%;
  display: block;
  height: 400px;
}
ion-input{
  margin: 10px 0px;
  left: -8px;
}

.center{
  text-align: center;
}

.esqueci{
  margin-top: 40px;
}