<ion-header>
  <ion-toolbar>
      <div style="text-align: center;">
          <ion-title>Cadastro</ion-title>
        </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <h2>Pré-diagnóstico de doenças cardíacas</h2>
    
        <ion-list>
            <ion-item>
                <ion-checkbox></ion-checkbox>
                <ion-label style="padding-left: 4px;">  Fibrilação Ventricular</ion-label>
            </ion-item>
            <ion-item>
                <ion-checkbox></ion-checkbox>
                <ion-label style="padding-left: 4px;">  Fibrilação atrial</ion-label>
            </ion-item>
            <ion-item>
                <ion-checkbox></ion-checkbox>
                <ion-label style="padding-left: 4px;">  Flutter atrial</ion-label>
            </ion-item>
            <ion-item>
                <ion-checkbox></ion-checkbox>
                <ion-label style="padding-left: 4px;">  Bradicardia sinusal</ion-label>
            </ion-item>
  
    
        </ion-list>
        
        <div class="center" >
          <ion-button href="/cadastro-historico">Anterior</ion-button>
          <ion-button href="/principal">Confirmar</ion-button>
        </div>
      </ion-card>
</ion-content>
